*.iml
/.idea
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/errors/errors-1765548724560.log
.kotlin/errors/errors-1765548726404.log
.kotlin/errors/errors-1765550228094.log
.kotlin/errors/errors-1765550229255.log
app/src/main/java/com/example/cutestage/stage/beat/LayeredBeatConverter.kt.bak2
app/src/main/java/com/example/cutestage/stage/beat/LayeredBeatConverter.kt.bak3
app/src/main/java/com/example/cutestage/ui/creator/LayeredBeatCreatorViewModel.kt.bak4
app/src/main/java/com/example/cutestage/ui/creator/LayeredBeatCreatorViewModel.kt.bak5
app/src/main/java/com/example/cutestage/ui/creator/LayeredBeatCreatorViewModel.kt.bak6
app/src/main/java/com/example/cutestage/ui/creator/LayeredBeatCreatorViewModel.kt.bak7
